---
const { title, description, color, link, logo, font } = Astro.props;
---

<!-- bg-groupi hover:bg-groupi/80 -->
<a
  href={link}
  class={`w-full md:w-64 h-36 rounded-md transition-all hover:bg-${color}/80 bg-${color}`}
>
  <div class="w-full h-full py-3 px-4">
    <div class="flex items-center text-foreground gap-1 mb-1">
      <div set:html={logo} />
      <!-- font-groupi -->
      <h1 class={`text-2xl font-${font} font-semibold`}>
        {title}
      </h1>
    </div>
    <p class="text-foreground">{description}</p>
  </div>
</a>
